.header {
  height: 60px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-primary);
  color: var(--app-primary-contrast);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

::ng-deep .btn-menu-white {
  color: #fff !important;
}

::ng-deep .btn-menu-white:hover{
  transition:none !important;
  background-color: var(--app-primary) !important;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

::ng-deep .nav-button {
  width: 100%;
  justify-content: flex-start !important;
  color: var(--text-color) !important;
}

::ng-deep .nav-button:hover {
  background-color: var(--app-primary-hover) !important;
}
