<div class="home-container flex justify-content-center align-items-center">
  <p-card styleClass="home-card shadow-5">
    <h1 class="home-title text-4xl font-bold mb-3 text-primary">{{ welcomeTitle }}</h1>

    <p class="home-description text-xl line-height-3 text-secondary mb-5">
      {{ projectDescription }}
    </p>

    <div class="flex gap-3 justify-content-center">
      <p-button
        label="Gerenciar Clientes"
        icon="pi pi-user"
        severity="primary"
        styleClass="home-button"
        routerLink="/customers"
      ></p-button>
      <p-button
        label="Gerenciar Fornecedores"
        icon="pi pi-truck"
        severity="primary"
        styleClass="home-button"
        routerLink="/suppliers"
      ></p-button>
      <p-button
        label="Gerenciar Produtos"
        icon="pi pi-box"
        severity="primary"
        styleClass="home-button"
        routerLink="/products"
      ></p-button>
    </div>
  </p-card>
</div>
