<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <div class="mb-3">
    <p-button
      label="Adicionar Produto"
      icon="pi pi-plus"
      (onClick)="openNewProductForm()"
      styleClass="p-button-success"
    ></p-button>
  </div>

  <p-table
    [value]="products()"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ formatPrice(product.price) }}</td>
        <td>{{ product.stock }} un.</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            styleClass="p-button-warning"
            [text]="true"
            [rounded]="true"
            (onClick)="openEditProduct(product)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-danger"
            [text]="true"
            [rounded]="true"
            (onClick)="deleteProduct(product.id, product.name)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Adicionar Produto"
    [(visible)]="displayNewDialog"
    [modal]="true"
    [style]="{ width: '550px' }"
    (onHide)="closeNewDialog()"
  >
    <app-product-form [productForm]="productForm"></app-product-form>

    <ng-template pTemplate="footer">
      <p-button label="Cancelar" styleClass="p-button-text" (onClick)="closeNewDialog()">
      </p-button>
      <p-button
        label="Criar"
        icon="pi pi-check"
        (onClick)="saveNewProduct()"
        [disabled]="productForm.invalid"
      >
      </p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Editar Produto"
    [(visible)]="displayEditDialog"
    [modal]="true"
    [style]="{ width: '550px' }"
    (onHide)="closeEditDialog()"
  >
    <app-product-form [productForm]="productForm"></app-product-form>

    <ng-template pTemplate="footer">
      <p-button label="Cancelar" styleClass="p-button-text" (onClick)="closeEditDialog()">
      </p-button>
      <p-button
        label="Salvar"
        icon="pi pi-check"
        (onClick)="saveEditProduct()"
        [disabled]="productForm.invalid"
      >
      </p-button>
    </ng-template>
  </p-dialog>
</div>
